# see https://doc.nette.org/en/configuring

parameters:


application:
	errorPresenter:
		4xx: Error:Error4xx
		5xx: Error:Error5xx
	mapping:
		*: App\Presentation\*\**Presenter
		UI: App\UI\*\*Presenter


database:
   dsn: 'mysql:host=db;dbname=star;charset=utf8mb4'
   user: 'root'
   password: 'root'


latte:
	strictTypes: yes
	strictParsing: yes
	extensions:
		- App\Presentation\Accessory\LatteExtension


assets:
	mapping:
		default:
			path: assets
			# type: vite  # Uncomment to activate Vite for asset building


di:
	export:
		parameters: no
		tags: no

services:
   - App\Model\UserAuthenticator