[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
user=mysql
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
symbolic-links=0
log-error=/var/log/mysql/error.log
pid-file=/var/run/mysqld/mysqld.pid